

h1 {
    color: rgb(62, 0, 232);
    text-align: center;
}  

body {
   background-color: wheat;
}
  
#navTable {
    width: 1024px;
}

#navTh {
    width: 341px;
    text-align: center;
}

p {
    text-align: center;
}

#aboutBody {
    background-image: -webkit-image-set("mybackground.jpg");
}

#karolPic {
    float: left;
    margin-right: 6px;
    position:relative;
    
}

#footballPic {
    float: right;
    margin-left: 6px;
    margin-right:6px;
    position:relative;
    
}

#shotput {
    float: left;
    margin-top: 6px;
    margin-right: 6px;
    margin-left: 20px;
    
}

#bass {
    float: right;
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 60px;
    
}

#banner {
    text-align: center;
}

#aboutPics {
    width: 1024px;
}
