

h1 {
    color: rgb(232, 0, 66);
    text-align: center;
    width: 1024px;
}  

body {
   background-color: wheat;
   width: 1024px;
}
  
#navTable {
    width: 1024px;
}

#navTh {
    width: 341px;
    text-align: center;
}

p {
    text-align: center;
    width: 1024px;
}

#aboutBody {
    background-image: -webkit-image-set("mybackground.jpg");
}

#karolPic {
    float: left;
    margin-right: 6px;
    position:relative;
    
}

#footballPic {
    float: right;
    margin-left: 6px;
    margin-right:6px;
    position:relative;
    
}

#shotput {
    float: left;
    margin-top: 6px;
    margin-right: 6px;
    margin-left: 20px;
    
}

#bass {
    float: right;
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 60px;
    
}

#banner {
    margin-left: auto;
    margin-right: auto;
}

#aboutPics {
    width: 1024px;
}

#aboutP {
    width: 1024px;
}

#harasim_racing_bitmoji {
    width: 1024px;
}

#racingBitmojiFun {
    width: 1024px;
}